@using System.Text;
@using  WebApplication3.ModelForView;
@model WebApplication3.ModelForView.ModelView



@{
    ViewData["Title"] = "Home Page";
}
<div class="my-2"> 
<form  asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <label class="visually-hidden" for="inlineFormInputGroupUsername">Serch bY Title</label>
    <div class="input-group">
      <div class="input-group-text"></div>
      <input type="text" class="form-control" values="@Model.str" id="str" name="str" placeholder="Serch By Title ">
    </div>
  </div>

  <div class="col-12">
    <label class="visually-hidden" for="inlineFormSelectPref">Genres</label>
    <select class="form-select" name="GenereID" id="GenereID">  
      <option selected>Genre</option>
                @foreach   (var genre in Model.genres)
                {
                    <option selected="@(genre.Id== Model.GenereID)"  value="@genre.Id">@genre.GenerName</option>
                }
      
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/Home/Index" class="btn btn-dark">Reset</a>
  </div>
</form>
</div>
<div class="w-100 d-flex flex-wrap">
    @foreach (var book in Model.books)
    {
        <div class="card mx-1 mb-2" style="width:14rem">
            @{
               string? theString = book.BookImage != null ? Encoding.UTF8.GetString(book.BookImage) : null;
            }

            @if (string.IsNullOrEmpty(theString))
            {
                <img src="/images/hobbit.jfif" class="card-img-top" alt="" style="width:100%;height:200px">
            }
            else
            {
                 <img style="width:100%"  src="/images/hobbit.jfif" class="card-img-top" alt="">
            }

           
            <div class="card-body">
                <h5 class="card-title">@book.BookName</h5
               
                 <p class="card-text">
                   <b> Author:</b>@book.AuthorName
                </p>
                 <p class="card-text">
                    <b> Gener Name :</b>@book.GenerName
                  </p>
                <span class ="card-text">
                  <b>Price:</b>@book.Price
                </span><br/>
                 
                <div >
                <button type="button" onclick="addCartItem(@book.Id,1)" class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>
    
        async function addCartItem(bookid, UserId) 
        {
            try 
           {
              var response = await fetch(`/Cart/Addcart?bookid=${bookid}&UserId=${UserId}`)
            
                  if (response.ok) 
                  {
                      var data= await response.json(); // If the server returns JSON data
                       console.log(data)
                       var cartcountbyEl= document.getElementById("cartcount")
                       cartcountbyEl.innerHTML=data
                  } 
           }
            catch
            {
                 throw new Error('Failed to add item to cart.');
            }
        }
    </script>

}